
.logo{
    -webkit-transition-duration: 0.8s;
         -o-transition-duration: 0.8s;
            transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.logo:hover{
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}