.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,textarea{
    width: 100%;
    padding :7px;
    border-radius: 3px ;
    border: 1px solid #ccc;
}

textarea{
    height: 100px;
}
 
.submit-btn{
    width: 50%;
    cursor: pointer;
    height: 50px;
}
