/*
    --------------------------
        HOW IT WORKS
    --------------------------
*/

.section-steps{
    background-color: rgb(236, 236, 236);
}

.steps-box{
    margin-top:30px;
}

.steps-box:first-child{
    margin-left: -10%;
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child{
    margin-top: 6%;
    padding-left: 3%;
}

.app-screen{
    width: 40%;
}

.works-step{
    margin-bottom: 50px;
}

.works-step div{
    color:orange;
    border: 2px solid orange;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding:1.40%;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app img{
    height: 80px;
    width: auto;
    margin:10px;
}

.works-step:last-of-type{
    margin-bottom: 50px;
}