.icons{
    width: 25px;
}

.icon-big{
    width: 65px;
    display: block;
    margin-bottom: 10px;   
}

.icon-small{
    margin-right: 10px;
    display: inline-block;
    width: 30px;
    margin-bottom: 10px;
    line-break: normal;
}

.user-link{
    color: blue;
}

.user-link:link,
.user-link:active{
    padding: 1px;
    border-bottom: 1px solid black;
    color: black;
    text-decoration: none;
}

.user-link:hover{
    padding: 1px;
    border-bottom: transparent;
    color: green;
    text-decoration: none;

}