.section-plans{
    background-color: rgb(236, 236, 236);
}

.plan-box{
    box-shadow: 0 2px 2px grey;/*x y blurr */
}

.plan-box div:first-child{
    background-color: rgba(212, 211, 211, 0.712);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box > div > ul > li {
    text-decoration: none;
    list-style-type: none;
    padding: 5px 0;
}

.plan-box > div > ul > li > img{
    width: 18px;
    height: 18px;
}

.submit-btn, .plan-box > div > a.btn{
    margin-top: 5%;
    display: flex;
    border: solid black;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    width: auto;
    color: white;
    background-color: black;
}
.submit-btn:hover , .plan-box > div >a.btn:hover{
    background-color: orange;
    border: solid orange;
}

.plan-box{
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;

}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.507);
}

.plan-box .plan-price{
    font-size: 150%;
    margin-bottom: 10px;
}

.plan-price{
    color: orange;
   
}

.plan-price span{
    font-size: 75%;
}

*:focus{
    outline: none;
}