/*Big tablets to 1200 px , (widths smaller than the 1140px row)*/
@media only screen and (max-width : 1200px) {

    
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }

    .row{
        padding : 0 2%;
    }
    
    .btn-app img{
        width: 200px;
        margin:10px;
    }

}

@media only screen and (max-width : 1024px){
    .plan-box > div > ul > li{
        font-size: 70%;
    }

    .section-plans > .row > .col > .plan-box > div >   .plan-price-meal
    {
        font-size: 90%;
    }

    .contact-form{
        width: 100%;
    }

        
}

/* devices from 801px to 850px */
@media only screen and (max-width:850px) {

    .btn-app img{
        width: 200px;
        margin:10px;
    }

}

/* ipad in portrait mode , small tablets to big tablets 768px - 800px */
@media only screen and (max-width : 800px) {
    
    body{ font-size: 20px; }

    section{ padding: 60px 0; }

    .small-med-logo-nav{
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        font-size: 60%;
    }
    
    .logo{
        height: 100px;
    }

        
    .long-copy{
        width: 80%;
        margin-left: 10%;
    }
        
    .steps-box{
        margin-left: 0px;
    }

    
    /*.steps-box:first-child{
        margin-left: -10%;
        text-align: right;
        padding-right: 3%;
    }*/
    

    .steps-box:last-child{
        margin-top: 1%;
    }
    
    .works-step{
        margin-top: 1%;
        font-size: 90%;
    }

    .works-step:last-of-type{
        margin-bottom: 60px;
    }

    .works-step{
        margin-bottom: 50px;
    }

    .app-screen{
        width: 50%;
    }
    
    .btn-app img{
        height: 50px;
        width: 145px;
        margin:10px;
    }

    .city-feature , .user-link {
        font-size: 60%;
    }

    .city-detail-icons{
        width: 12%;
    }

    .city-box h3 {
        font-size: 78%;
    }

    blockquote {
        font-size: 70%;
        padding:5.8%;
    }


    blockquote::before{
        margin-left: 5%;
    }

    cite{
        font-size: 80%;
    }

    .row.med-section-testimonials{
        padding-left: 3%;
        padding-right: 3%;
    }

    .section-plans > .row > .col > .plan-box > div >   .plan-price
    {
        font-size: 125%;
    }
    .section-plans > .row > .col > .plan-box > div >   .plan-price-meal{
        font-size: 60%;
    }

    .plan-box > div > ul > li{
        font-size: 60%;
    }
    
    .plan-box > div > ul > li> img{
        width: 10%;
    }
    
 
}


/*
    small phones to small tablets 481px to 767px
*/

@media only screen and (max-width : 767px) {

    body{
        font-size: 16px;
    }
    
    section {
        padding : 30px 0;

    }

    .row, .hero-text-box{
        padding: 0 4%;

    }

    .col{
        width: 100%;
    }

    .main-nav{
        display: none;
    }

    .city-detail-icons{
        width: 3%;
    }


    img.city-images{
        width: 100%;
        height: 50%;
    }

    .city-box:hover{
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05);
        -webkit-transition: -webkit-transform 1.5s;
        transition: -webkit-transform 1.5s;
        -o-transition: transform 1.5s;
        transition: transform 1.5s;
        transition: transform 1.5s, -webkit-transform 1.5s;
        -webkit-box-shadow: 0px 2.5px 6px 1px rgb(0 0 0 / 40%);
                box-shadow: 0px 2.5px 6px 1px rgb(0 0 0 / 40%);
    }

    .long-copy{
        width: 100%;
        margin: 0 3%;
    }

    .row > h2 {
        font-size: 140%;
    }

    .section-testimonials > .row > h2{
        font-size: 120%;
    }

    .hero-text-box h1{
        font-size: 165%;
    }

    .works-step > div{
        height: 30px;
        width: 30px;
        padding : 0%;
    }

    .works-step{
        margin-bottom: 20px;
    }

    .app-screen{
        width: 50%;
    }

    .steps-box:first-child {
        margin-left: -23%;
    }

    .btn-app img{

        
        height: 50px;
        width: 145px;
        margin-top:-50px;
        margin-left: 10%;

    }

    .plan-box > div > ul > li > img{
        width: auto;
    }

    .section-plans > .row > .col > .plan-box > div >   .plan-price-meal{
        font-size: 80%;
    }

    .plan-box > div > ul > li {
        font-size: 115%;
    }

    .plan-box{
        margin-bottom: 5%;
    }

    .plan-box > div > h3{
        font-size: 180%;
    }

    .section-plans > .row > .col > .plan-box > div > .plan-price
    {
        font-size: 150%;
    }

    .submit-btn{
        width: 100%;
    }

}

/*Small phones 0 to 480px*/

@media only screen and (max-width : 480px) {
    .btn-app img{
        width: 100px;
        height: 45px;
    }

    input , select{
        margin: 5% 0;
    }
    
}


@media only screen and (max-width : 300px) {


    .btn-app img{
        width: 80px;
        height: 35px;
    }

    input , select{
        margin: 5% 0;
    }
    
}