/*Big tablets to 1200 px , (widths smaller than the 1140px row)*/
@media only screen and (max-width : 1200px) {

    
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }

    .row{
        padding : 0 2%;
    }
    
    .btn-app img{
        width: 200px;
        margin:10px;
    }

}

@media only screen and (max-width : 1024px){
    .plan-box > div > ul > li{
        font-size: 70%;
    }

    .section-plans > .row > .col > .plan-box > div >   .plan-price-meal
    {
        font-size: 90%;
    }
        
}

@media only screen and (max-width:850px) {

    .btn-app img{
        width: 200px;
        margin:10px;
    }

}

/* ipad in portrait mode , small tablets to big tablets 768px - 800px */
@media only screen and (max-width : 800px) {
    
    body{ font-size: 20px; }

    section{ padding: 60px 0; }

    .small-med-logo-nav{
        display: inline-flex;
        font-size: 60%;
    }
    
    .logo{
        height: 100px;
    }

        
    .long-copy{
        width: 80%;
        margin-left: 10%;
    }
        
    .steps-box{
        margin-left: 0px;
    }

    
    /*.steps-box:first-child{
        margin-left: -10%;
        text-align: right;
        padding-right: 3%;
    }*/
    

    .steps-box:last-child{
        margin-top: 1%;
    }
    
    .works-step{
        margin-top: 1%;
        font-size: 90%;
    }

    .works-step:last-of-type{
        margin-bottom: 60px;
    }

    .works-step{
        margin-bottom: 50px;
    }

    .app-screen{
        width: 50%;
    }
    
    .btn-app img{
        height: 50px;
        width: 145px;
        margin:10px;
    }

    .city-feature , .user-link {
        font-size: 60%;
    }

    .city-detail-icons{
        width: 12%;
    }

    .city-box h3 {
        font-size: 78%;
    }

    blockquote {
        font-size: 70%;
        padding:5.8%;
    }


    blockquote::before{
        margin-left: 5%;
    }

    cite{
        font-size: 80%;
    }

    .row.med-section-testimonials{
        padding-left: 3%;
        padding-right: 3%;
    }

    .section-plans > .row > .col > .plan-box > div >   .plan-price
    {
        font-size: 125%;
    }
    .section-plans > .row > .col > .plan-box > div >   .plan-price-meal{
        font-size: 60%;
    }

    .plan-box > div > ul > li{
        font-size: 60%;
    }
    
    .plan-box > div > ul > li> img{
        width: 10%;
    }
    

}


/*
    small phones to small tablets 481px to 767px
*/

@media only screen and (max-width : 767px) {
    
}

/*Small phones 0 to 480px*/

@media only screen and (max-width : 480px) {
    
}